$color-primary-strong-cyan: hsl(171, 66%, 44%);
$color-primary-light-blue: hsl(233, 100%, 69%);

$color-neutral-dark-grayish-blue: hsl(210, 10%, 33%);
$color-neutral-grayish-blue: hsl(201, 11%, 66%);
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-gray: hsla(201, 11%, 66%, 0.1002);

$heading-xl-size: 4.6rem;
$heading-xl-letter-spacing: -0.75px;
$heading-l-size: 3.6rem;
$heading-l-letter-spacing: -0.59px;
$heading-m-size: 2.4rem;
$heading-m-letter-spacing: -0.39px;

$font-family: "Bai Jamjuree", sans-serif;

$body-l-font-size: 2rem;
$body-l-line-height: 3rem;
$body-l-letter-spacing: 0.15px;
$body-m-font-size: 1.8rem;
$body-m-line-height: 3rem;
$body-m-letter-spacing: 0.14px;
$body-s-font-size: 1.6rem;
$body-s-line-height: 3rem;
$body-s-letter-spacing: 0.12px;

$desktop: 1100px;
$tablet: 768px;
$mobile: 375px;
